:root{/*Cores utilizadas*/
    --cinza: #f5f5f5;
    --azul: #002060;
}

nav{/* MENU */
    background: #002060!important;
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar{/* MENU */
    padding-top: 0!important;
    padding-bottom: 0!important;
    min-height: 70px;
}

.nav-link{/*Links do menu*/
    font-size: 20px!important;
}

.navbar-dark .navbar-toggler{/*Botão do menu*/
    z-index: 9;
}
.label-mudar-img-conta{
    width: 100%;
}
.nome-conta{
    color: #fff;
}
.img-conta{
    height: 50px;
    width: 50px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
div.img-conta{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 700!important;
    font-size: 25px;
}
div.mudar-img-conta{
    height: 200px;
    width: 200px;
    background: #ccc;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.hover-mudar-img-conta{
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 999;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}
div.mudar-img-conta:hover .hover-mudar-img-conta{
    display: flex;
}
.form-img-Conta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item-form-img-conta{
    display: none;
}
.btn-mudar-imagem{
    background: #002060!important;
    color: #fff!important;
    width: 200px!important;
    border: 1px solid #002060;
    margin-top: 40px;
    font-size: 20px;
}

header{/*Cabeçalho do site*/
    padding-bottom: 100px;
}

main{/* Corpo do site */
    min-height: 100vh;
}

footer{/*Rodapé do site*/
    min-height: 200px;
    background: #002060;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-marcas-parceiras{/*Descrição das marcas parceiras (home)*/
    font-size: 20px;
    text-align: justify;
}

.img-carrousel{/*Imagem do carousel na página home*/
    height: 73vh;
}

.carousel-fade{/*Carousel (slide com imagens)*/
    margin-top: 100px!important;
}

.logo-footer{/*Logo no footer*/
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 100px;
}

.navbar-collapse{/* div com links do menu */
    max-width: 20%!important;
}

.nome-nav{/*Nome da empresa no navbar*/
    color: #fff;
    font-size: 25px;
}

.row-esqueci-senha{
    align-items: center;
    min-width: 100%;
}

.row-entrar{
    align-items: center;
    min-width: 100%;
}

.container-entrar{
    flex-wrap: wrap!important;
    display: flex!important;
}

.div-mensagem-conta-criada-sucess, .div-mensagem-conta-criada-danger, .div-mensagem-sem-conta{
    min-width: 100%;
    margin-top: -100px;
    margin-bottom: 100px;
}

.col-btn-celular{/*div com os botões do menu pra celular*/
    justify-content: center;
    display: flex;
    max-width: 50%!important;
}

/* BOTÕES */
.btn-entrar{/*botão de entrar*/
    color: #002060!important;
    background: #fff!important;
    font-size: 20px!important;
    width: 150px;
    right: 170px;
    border: 2px solid #18A0FB!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px 0 6px 0!important;
    z-index: 9;
}

.btn-entrar:hover{/*botão de entrar ao passar o mouse*/
    opacity: 0.9;
}

.btn-cadastro{/*botão de cadastro*/
    font-size: 20px!important;
    margin-right: 20px;
    color: #fff!important;
    border: 2px solid #fff!important;
    width: 150px;
    border-radius: 6px!important;
}

.btn-cadastro:hover{/*botão de cadastro ao passar o mouse*/
    opacity: 0.9;
}

.btn-entrar-footer{/*botão de entrar do footer*/
    color: #002060!important;
    background: #fff!important;
    width: 150px;
    border: 2px solid #18A0FB!important;
    border-radius: 6px!important;
    font-size: 20px!important;
}

.btn-cadastro-footer{/*botão de cadastro do footer*/
    color: #fff!important;
    border: 2px solid #fff!important;
    width: 150px;
    border-radius: 6px!important;
    margin-top: 20px;
    font-size: 20px!important;
}

.btn-saiba-mais{/*botão saiba mais (marcas parceiras - home)*/
    border: 1px solid dodgerblue!important;
    color: dodgerblue!important;
    margin-top: 20px;
    font-size: 20px!important;
}

.btn-form-entrar, .btn-cadastrar{
    background: #002060!important;
    color: #fff!important;
    width: 100px;
}
.btn-aceitar-pedido{
    background: #002060!important;
    color: #fff!important;
    width: 150px;
    margin-top: 20px;
}

.btn-form-entrar:hover, .btn-cadastrar:hover{
    background: #fff!important;
    color: #002060!important;
    border: 1px solid #002060;
}

.btn-proximo-cadastrar{
    background: #002060!important;
    color: #fff!important;
    width: 100px!important;
    border: 1px solid #002060;
    right: 40px;
    bottom: 80px;
    position: absolute;
}

.btn-proximo-cadastrar:hover{
    background: #fff!important;
    color: #002060!important;
    width: 100px;
    border: 1px solid #002060;
}

.check-cad{
    background-image: url('../img/check.png');
    background-position: center;
    background-size: cover;
}

.btn-saiba-mais:hover{
    background: dodgerblue!important;
    color: #fff!important;
}

/* BOTÕES */
.col-link-footer{
    text-align: left;
    font-weight: 100;
    font-size: 20px;
}

.link-footer{
    transition: 0.5s;
    cursor: pointer;
    text-align: left;
    font-weight: 100;
    color: #ccc;
    text-decoration: none!important;
}

.link-footer:hover{
    opacity: 0.7;
    color: #ccc!important;
}

.text-footer{
    text-align: left;
    font-size: 20px;
}

.linha-footer{
    height: 1px;
    width: 100%;
    background: #ccc;
    margin-top: 40px;
}

.img-link-footer{
    color: #fff!important;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.7s;
}

.img-link-footer:hover{
    transform: rotate(360deg);
}

.div-link-icons{
    justify-content: end;
    display: flex;
    margin-top: 25px!important;
}

.col-copyright{
    text-align: left;
}

.copyright{/*copyright do footer*/
    font-size: 20px;
    margin-top: 25px;
}

.marca{/* div com as marcas parceiras */
    min-width: 50%!important;
    padding-bottom: 100px;
}

.row{
    width: 100%;
}

.title-marca{
    margin-bottom: 20px;
}

.dropdown-item:hover{
    background: #002060!important;
    color: #fff!important;
}

.div-servico{/* div com os tipos de serviços */
    padding: 50px 0!important;
    margin: 0!important;
}

.div-servico:nth-child(even){/* seleciona os serviços ímpares (pulando um) */
    background: #f5f5f5;
}

.div-servico:nth-child(odd){/* seleciona os serviços pares (pulando um) */
    min-height: 500px;
}

.servico{/* conteúdo da div serviços */
    padding: 0 70px!important;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.img-servicos{
    width: 100%;
}

.text-servico{
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.div-opcao-entrega{
    margin-top: 50px; 
    margin-bottom: 30px; 
    display:flex; 
    justify-content:space-between;
    flex-wrap: wrap;
}

/*PÁGINA ENTRAR*/
.form-entrar{
    border: 2px solid #ccc;
    border-radius: 5px;
    min-height: 400px;
    padding: 30px 50px;
}

.form-cadastrar{
    border: 2px solid #ccc;
    border-radius: 5px;
    min-height: 400px;
    padding: 30px 50px;
    position: relative;
    margin-bottom: 100px;
}

.form-row{
    margin-top: 35px;
}

.form-select{
    border: 2px solid #ccc!important;
    margin-top: 10px;
    margin-bottom: -30px;
}

.col-btn-contato{
    margin-top: 30px; 
    justify-content: center!important; 
    display:flex;
}

.form-control{
    border-top: 0!important;
    border-right: 0!important;
    border-left: 0!important;
    border-bottom: 2px solid #ccc!important;
    border-radius: 0!important;
}

.form-control:focus{
    box-shadow: 0 0 0 0!important;
    border: 0 none;
    border-bottom: 2px solid #002060!important;
    outline: 0;
}

.input-erro{
    border-bottom: 2px solid #dc3545!important;
}

.img-mostrar-senha
{
    position: absolute;
    top: 0 !important;
    bottom: 0;
    margin: auto!important;
    right: 10px;
    cursor: pointer;
}
.invalid-feedback-senha, .invalid-feedback-senha1{
    position: absolute!important;
}
.invalid-feedback-senha1{
    top: 80px!important;
}
.form-cad-2{
    display: none!important;
}

.senha{
    position: relative;
}

.titulo-entrar, .titulo-cadastro{
    padding: 0 20px; 
    font-size: 50px;
}

.titulo-cadastro{
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
}
#erro-senha{/* Mensagem de erro ao digitar email diferente*/
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em!important;
  color: #dc3545;
}
#erro-email{/* Mensagem de erro ao digitar senha diferente*/
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em!important;
  color: #dc3545!important;
}
.input-erro{
    border-bottom: 1px solid #dc3545!important;
}

.titulo-sobre{
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-size: 50px;
}

.btn-estado-form, .btn-estado-form:hover{
    border-radius: 100%!important;
    height: 45px!important;
    width: 45px!important;
    max-width: 45px!important;
    border: 1px solid #002060!important;
    display: grid!important;
    place-items: center;
    background-color: #fff!important;
    z-index: 999!important;
}

.btn-form1, .btn-form1:hover{
    background: #002060!important;
    color: #fff!important;
}

.linha-estado{
    height: 1px;
    background: #000;
    width: 200px;
    position: absolute;
    margin: auto!important;
    top: 0;
    bottom: 0;
    z-index: -999;
}

.btn-group{
    width: 30%;
    justify-content: space-evenly;
    display: flex!important;
    margin-top: 45px;
}

.txt-esqueci-senha{
    margin-bottom: 20px;
}

.txtRecuperarSenha{
    border: 1px solid #002060!important;
    border-radius: 6px!important;
}

.aparecer-alert{
    display: block!important;
}

.txt-conta{
    margin-top: 30px!important;
    margin-bottom: 10px!important;
    width: 100%;
    text-align: center;
}

.nome-cel{
    display: none;
}

/* PÁGINA SOBRE */
.col-sobre{
    justify-content: center!important;
    display: flex;
}

.img-sobre{
    margin-top: 50px;
    height: 400px;
}

.txt-sobre{
    margin-top: 50px;
    font-size: 23px;
    font-weight: 600;
    text-align: justify;
}

.linha-sobre{
    height: 1px;
    background: #002060;
}

.row-qualidade{
    margin-top: 40px!important;
}

.row-sobre{
    margin-bottom: 50px;
}

.txt-qualidade-sobre{
    font-size: 23px;
    font-weight: 600;
    text-align: justify;
}

.row-marcas-sobre{
    margin-top: 40px!important;
    margin-bottom: 50px!important;
}

/* PÁGINA SOBRE */

/* pagina de dicas */
.img-dicas{
    width: 100%!important;
}

.row-dicas{
    margin-bottom: 100px;
}

.accordion-button{/*título da dica*/
    font-size: 30px!important;
    color: #000!important;
}

.accordion-body p{/*texto da dica*/
    font-size: 20px;
}

/* Página serviços */
.titulo-servico{
    text-align: center;
}

.titulo-solicitar-servico, .titulo-contato{
    margin-top: -10px;
    text-align: center;
}

.caixa-servico{
    background: #e5e4e2;
    width: 100%;
    min-height: 250px;
    margin-top: 20px;
    padding: 20px 100px;
    border-radius: 5px;
    display: grid !important;
    place-items: center;
}
.menu-servico{
    width: 100%;
    background: #e5e4e2;
    display: flex;
    margin-top: -60px;
    margin-bottom: 100px;
}
.menu-servico .row{
    text-align: center;
}

.link-menu-servico{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.caixa-servico p {
    font-size: 20px;
    line-height: 15px;
}

.container-servico{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row-form-servico{
    margin: 0!important;
    padding: 0!important;
    padding-top: 30px!important;
}

.col-servico{
    padding: 0!important;
}

.textarea-descricao-problema{
    border: 2px solid #ccc!important;
    border-radius: 2px;
    resize: none;
    margin-top: 10px;
    height: 100px;
}

.textarea-descricao-problema:focus{
    box-shadow: 0 0 0 0!important;
    border: 0 none;
    border: 2px solid #002060!important;
    outline: 0;
}

.btn-finalizar-servico{
    background: #002060!important;
    color: #fff!important;
    width: 100px!important;
}

.accordion-flush{
    background-color: #002060;
}

.accordion-button{    
    background-color: #002060;
    color: #fff;
}

.logo-menu-celular{
    width: 100%; 
    display: flex; 
    justify-content: center;
}

.img-marcas-parceiras{/*imagens das marcas - sobre*/
    width: 100%;
    height: 100px;
}

.col-form-cadastro{
    margin-top: 50px!important; 
    margin-bottom: 30px;
}

.col-cadastro{
    padding: 0 250px; 
    margin-top: 20px;
}

.img-logo-nav-cel{
    display: none;
}

.dropdown-conta, .dropdown{
    display: flex!important;
    align-items: center!important;
}
.dropdown-email:hover, .dropdown-email{
    background-color: #fff!important;
    color: #000!important;
    cursor: default!important;;
}

/* ADAPTAÇÃO PARA DISPOSITIVOS */
@media screen and (max-width: 1189px){
    .nome-nav {
        width: 40%;
        text-align: center;
        z-index: 0;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-logo-nav-cel{
        display: block;
        margin-right: 30px;
    }
}

@media screen and (max-width: 1055px){
    .nome-nav{
        margin-left: 40px;
    }
}

@media screen and (max-width: 992px){

    .navbar-collapse{/* links do menu */
        max-width: 100%!important;
    }
    .nome-nav{
        width: 100%;
        text-align: center;
        position: absolute!important;
        z-index: 0;
        margin-left: -150px!important;
    }
    .d-flex {/* botões do menu de entrar e cadastrar */
        display: flex !important;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .container{
        max-width: 920px!important;
    }
    .servico h1{
        font-size: 25px;
    }
    .servico{
        padding: 0 20px!important;
    }
    .col-img{
        min-width: 55%;
    }
    .text-servico{
        font-size: 17px!important;
    }
}

@media screen and (max-width: 992px){
    .nome-nav{
        margin-left: 45px;
    }
}

@media screen and (max-width: 885px){
    .nome-nav{
        margin-left: 45px;
        font-size: 20px;
    }
}

@media screen and (max-width: 827px){
    .nome-nav{
        display: none;
    }
}

@media screen and (max-width: 796px){
    .img-servicos{
        width: 100%;
    }
    .title-marca{
        width: 100%!important;
    }
}

@media screen and (max-width: 767px){
    .nome-nav{
        display: block;
        margin-left: -220px!important;
        font-size: 30px;
        z-index: -1;
    }
}

@media screen and (max-width: 764px){
    .nome-nav{
        width: 100%;
        text-align: center;
        position: absolute!important;
        z-index: 0;
        padding-left:200px;
        margin-left: -90px;
    }
}

@media screen and (max-width: 687px){
    .nome-nav{
        display: none;
    }
}

@media screen and (max-width: 412px){
    .div-servico{
        flex-wrap: wrap;
    }
    .servico{
        min-width: 100%;
    }
    .img-servicos{
        margin-bottom: 20px;
    }
    .div-servico:nth-child(odd){
        flex-direction: column-reverse!important;
    }
    .marca{
        min-width: 100%!important;
        margin-bottom: -50px;
    }
    .col-img-footer{
        width: 100%!important;
    }
    .col-link{
        min-width: 30%!important;
        font-size: 15px;
        padding: 0!important;
    }
    .col-btn-footer{
        display: flex;
        flex-direction: row;
        width: 100%!important;
        margin-top: 50px!important;
    }
    .btn-cadastro-footer{
        margin-top: 0;
    }
    .row-links{
        justify-content: space-evenly!important;
        margin: 0!important;
    }
    .link-centro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .link-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    footer{
        padding-top: 20px;
    }
    .col-img-footer{
        margin-bottom: 15px;
    }
    .copyright{
        text-align: center;
    }
    .div-link-icons{
        width: 100%;
        justify-content: center;
    }
    .titulo-entrar{
        font-size: 25px;
        text-align: justify;
    }
    .titulo-esqueci-senha{
        font-size: 25px!important;
        text-align: justify;
    }
    .form-entrar{
        width: 100%!important;
        padding: 10px 20px;
    }
    .col-cadastro{
        padding: 10px!important;
    }
    .d-btn{/* botão do menu*/
        display: none!important;
    }
    .nome-cel{
        display: block!important;
        color: #fff;
        margin-left: 20px;
    }
    .link-nome-cel{
        color: #fff;
        text-decoration: none;
        font-size: 25px;
    }
    .container-fluid{
        justify-content: flex-start!important; 
    }
    .img-sobre{
        width: 400px;
        height: 300px;
    }
    .img-marcas-parceiras{/*imagens das marcas - sobre*/
        width: 150px;
        height: 100px;
        margin-top: 20px;
    }
    .caixa-servico{
        padding: 15px 15px;
    }
    .col-caixa-servico{
        min-width: 100%;
    }
    .col-caixa-servico p{
        line-height: 25px;
    }
    .col-caixa-servico h3{
        margin-top: 20px;
    }   
    .col-form-servico{
        width: 100%!important;
    }
    .col-img-dicas, .col-text-dicas{
        min-width: 100%;
    }
    .col-text-dicas{
        margin-top: 20px!important;
    }
    .titulo-sobre{
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .titulo-cadastro{
        font-size: 40px;
        padding: 0;
    }
    .btn-estado-form{
        width: 100px!important;
        height: 45px!important;
        margin-left: 15px;
        font-size: 20px;
    }
    .btn-group{
        width: 50%;
    }
    .form-cadastrar{
        padding: 10px 20px;
    }
    .btn-proximo-cadastrar{
        margin-top: 50px;
        position: static;
    }
}